
<% if @daily_macro.present?  %>


    <div style="display: flex" class="macro-form" data-controller="log-button">
        <%= form_with model: @daily_macro, url: daily_macros_path,  local: true do |form| %>

        <div>
            <div class="macro-form-fields">
                <%= form.number_field :protein, class: 'input-macro-form', placeholder: "Protein" %>
            </div>
            <div class="macro-form-fields">
                <%= form.number_field :carbs, class: 'input-macro-form', placeholder: "Carbs" %> 
            </div class="macro-form-fields">
            <div class="macro-form-fields">
                <%= form.number_field :fats, class: 'input-macro-form', placeholder: "Fats" %>
            </div>
            <div class="macro-form-fields">
                <%= form.number_field :calories, class: 'input-macro-form', placeholder: "Calories" %>
            </div>
            <%= form.submit "Save", class: 'btn-macro-form' %>
        </div>        
        <% end %>
    </div>    

<% end%>



