<% foods.select { | f | f.meal_type == meal_type}.each do | food | %>
<%# esta pegando o valor de @food, e filtrando todos que  %>
<div>
    <p>Name:<%= food.foodname %></p>
    <p>protein:<%= food.proteins %></p>
    <p>fats:<%= food.fats %></p>
    <p>carbs:<%= food.carbs %></p>
    <p>calories:<%= food.calories %></p>
</div>
<% end %>